/* reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
/* end reset */

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #666;
  font-size: 14px;
}

.wrapper {
  background-color: #ebebeb;
  margin: 1%;
  padding: 1%;
}
@media only screen and (max-width: 768px) {
  .wrapper {
    margin: 2%;
    padding: 2%;
  }
}

h1 {
  background: url(logo.png) no-repeat;
  width: 216px;
  height: 49px;
  text-indent: 100%;
  overflow: hidden;
  float: left;
  margin-bottom: 75px;
}

#contact {
  float: right;
  width: 200px;
  line-height: 20px;
}
@media only screen and (max-width: 768px) {
  h1 {
    margin-bottom: 10px;
  }
  #contact {
    float: none;
    margin-bottom: 26px;
  }
  .bios {
    margin-top: 75px !important;
  }
}
#contact a,
#contact {
  color: #666;
  font-weight: bold;
  text-decoration: none;
}
#contact a:hover {
  color: #444;
}

p.intro {
  clear: both;
  color: #999;
  text-shadow: 1px 1px 1px #fff;
  font-size: 24px;
  font-weight: bold;
  line-height: 36px;
}

.bios {
  margin-top: 115px;
  overflow: hidden;
}
.bio {
  float: left;
  width: 32%;
  margin-right: 2%;
  position: relative;
  padding-bottom: 3.2%;
}
@media only screen and (max-width: 768px) {
  .bio {
    float: none;
    width: 100%;
    margin: 15px 0 0 0;
    padding-top: 15px;
    border-top: #ddd 1px solid;
    padding-bottom: 6%;
  }
}
.bio:last-of-type {
  margin-right: 0;
}
.bio h3 {
  color: #D9241A;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
}
.bio .contact {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.bio .contact a {
  color: #D9241A;
  text-decoration: none;
}
.bio .contact a.email {
  float: right;
}
.bio .contact a:hover {
  color: #9F1911;
}

#brands {
  clear: both;
  overflow: hidden;
  margin-top: 70px;
}
#brands h3 {
  color: #bbb;
  font-weight: bold;
  margin-bottom: 1.6em;
}
#brands li {
  float: left;
  background: url(brands.png) no-repeat left top;
  height: 52px;
  width: 110px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  margin-right: 10px;
}
#brands li:last-of-type {
  margin-right: 0;
}
#brands li.tnf { background-position: -150px 0; width: 108px; }
#brands li.adobe { background-position: -300px 0; width: 44px; }
#brands li.audi { background-position: -450px 0; width: 80px; }
#brands li.oakley { background-position: -600px 0; width: 125px; }
#brands li.outdoor { background-position: -750px 0; width: 67px; }
#brands li.espn { background-position: -900px 0; width: 125px; }
#brands li.fedex { background-position: -1050px 0; width: 92px; }
#brands li.usoc { background-position: -1200px 0; width: 54px; }
