/* reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
/* end reset */

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #666;
  font-size: 14px;
}

.wrapper {
  background-color: #ebebeb;
  margin: 20px;
  padding: 20px;
}

h1 {
  background: url(logo.png) no-repeat;
  width: 216px;
  height: 49px;
  text-indent: 100%;
  overflow: hidden;
  float: left;
  margin-bottom: 75px;
}

#contact {
  float: right;
  width: 200px;
  line-height: 20px;
}
#contact a,
#contact {
  color: #666;
  font-weight: bold;
  text-decoration: none;
}
#contact a:hover {
  color: #444;
}

p.intro {
  clear: both;
  color: #999;
  text-shadow: 1px 1px 1px #fff;
  font-size: 24px;
  font-weight: bold;
  line-height: 36px;
}

.bios {
  margin-top: 115px;
  overflow: hidden;
}
.bio {
  float: left;
  width: 32%;
  margin-right: 2%;
}
.bio:last-of-type {
  margin-right: 0;
}
.bio h3 {
  color: #D9241A;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
}

.bio p {
  line-height: 21px;
}

.bio .contact {
  margin-top: 30px;
}
.bio .contact a {
  color: #D9241A;
  float: right;
  text-decoration: none;
}
.bio .contact a:hover {
  color: #9F1911;
}
